<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">&nbsp;<%= title %> Me</h1>
    <div class="container">
      <div class = "row">
      <div class = "col-4">
      <img src="Assets/images/photo1.jpg" alt="Photo" class="photo-image" height="500" width="500">
      
      <p><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saurab Kunwar</b></i></p>
      </div>
    <div class="col-8 about me" style="text-align: left;">
      <p>&#x2022; <b>"I'm a proactive and collaborative Senior Software Test Engineer with a strong background in automation using Selenium 
        WebDriver with Java, TestNG, and JUnit libraries. Although I'm new to the field of Software Testing, I bring extensive experience
         in building automation frameworks from the ground up. I'm well-versed in the Page Object Model and Data-Driven framework, and I'm 
         excited to contribute my skills to testing and ensuring the quality of software products."
        </b></p>

      <a href="Assets/pdf/saurab.pdf" download="Saurab saurab.pdf">My Resume</a>
    </div>
    </div>
    </div>
  </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>