<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <!-- services.ejs -->

<main class="container">
  <h1>Services</h1>

  <div class="service">
    <h2>Web Development</h2>
    <img src="https://i.pinimg.com/236x/79/c6/2d/79c62d94154fb332afb84191a996e66f.jpg" alt="Web Development" height="50">
    I offer web development services. Check out my <a href="https://github.com/" target="_blank" rel="noopener noreferrer">GitHub</a> for more details.
  
  </div>

  <div class="service">
    <h2>Graphic Design</h2>
    <img src="https://i.pinimg.com/236x/81/5a/40/815a40ced35851364860e0a66ec03a63.jpg" alt="Mobile App Development" height="70" width="70">
    I also provide graphic design services. Visit my <a href="https://www.behance.net/your-username" target="_blank" rel="noopener noreferrer">Behance</a> for examples of my work.
    
  </div>

  <div class="service">
    <h2>Mobile App Development</h2>

    <p>Need a mobile app? I've got you covered. Contact me for mobile app development services.</p>
  
  </div>
</main>

    
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  </div>
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




